* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(117, 124, 176);
}

#toolbar {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 300px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
  margin: 5px 0;
}

input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   margin-top: -4px;
   background-color: #007BFF;
   height: 1rem;
   width: 1rem;
   border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
   border: none;
   background-color: #007BFF;
   height: 1rem;
   width: 1rem;
   border-radius: 50%;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #ddd;
  height: 0.5rem;
  border-radius: 0.5rem;
}

input[type="range"]::-moz-range-track {
  background: #ddd;
  height: 0.5rem;
  border-radius: 0.5rem;
}

input[type="range"]#color-picker::-webkit-slider-runnable-track {
  background: linear-gradient(to right, blue, cyan, green, yellow, orange, red);
}

input[type="range"]#color-picker::-moz-range-track {
    background: linear-gradient(to right, blue, cyan, green, yellow, orange, red);
}

input[type="range"]#alpha-picker::-webkit-slider-runnable-track {
  background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
}

input[type="range"]#alpha-picker::-moz-range-track {
    background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
}

#map-container {
    position: relative;
}

#map-canvas {
    position: relative;
    width: 800px;
    height: 600px;
    border: 2px solid #333;
    background: #fff;
}

.toolbar-button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 5px;
}

.toolbar-button:hover {
    background: #0056b3;
}

#import-label {
    display: block;
    margin-top: 10px;
}
